h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding: 12px;
    margin: 20px auto;
    width: fit-content;

    /* background: #1976d2; */
    color: black;
    border-radius: 10px;

    /* box-shadow: 0 6px  rgb(237, 148, 54); */
}
